/*Header general options*/
header {
  background-color: #00000025;
  color: #616161;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/*Header separation from borders*/
.section-header {
  padding: 0rem 15rem;
}

/*Header display content*/
.pg_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

/*============Header first part (Logo and PagesRouts)==============*/
.pg_header-principal {
  display: flex;
  flex-direction: row;
}

/*Header Pages RoutsLinks*/
.pg_header-linkrouters-links {
  display: flex;
  align-items: center;
  flex-direction: colum;
  gap: 1rem;
  margin-left: 4rem;
  max-width: 100%;
}

/*Fit div whit size of info*/
.pg_header-linkrouter {
  display: flex;
  width: fit-content;
}

/*Fit div whit size of info*/
.pg_header-linkrouters-links a {
  font-size: 17px;
  font-weight: 800;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  color: #176aad;
}

.pg_header-linkrouters-links a {
  transition: transform 0.1s ease-in-out;
}

.pg_header-linkrouters-links a:hover {
  background-color: #006eff3b;
  border-radius: 2rem;
}
