@import "tailwindcss";

/*page general options*/
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}
/*Body general options*/
body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 500;
  background-image: url("/images/adminpage/adminbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*Divide header-content-footer*/
.AdminLayout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
