.whatsapp-button {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 65px;
  height: 65px;
  background: linear-gradient(to top left, #008060, #00c552);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 5px rgba(185, 255, 214, 0.568);
  z-index: 9999; /* siempre encima */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.whatsapp-button:hover {
  transform: scale(1.13);
  color: #f2f2f2;
}
